.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 2vw;
    color: #ff6060;
    font-size: 18px;
    font-weight: bold;
    width: 93vw;
}

.navbar__logo {
    margin-right: auto;
}